name: Test deployment

on:
  pull_request:
    branches: [main, development]
    paths: 
      - 'docs/**'
      - 'versioned_docs/**'
      - 'src/**'
  workflow_dispatch:

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
      - name: Test build
        working-directory: docs
        run: |
          yarn install
          yarn build
